@font-face { font-family: "Helvetica Neue Roman"; src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format("opentype"); }
@font-face { font-family: "Helvetica Neue Medium"; src: url('../fonts/HelveticaNeueLTStd-Md.otf') format("opentype"); }

body {
	background: #150023;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#wrapper {
	width: 1040px;
	margin: 70px 40px;
}
/*------------------HEADER------------------*/
#header {
	width: 100%;
	margin-bottom: 110px;
}
#header h1 a{
	background: url(../images/logo.png) top left no-repeat;
	text-indent: -9999px;
	display: block;
	width: 98px;
	height: 95px;
}
/*------------------SIDE NAV------------------*/
#main_content {
	width: 1020px;
}
#side_nav {
	width: 175px;
	float: left;
}
#side_nav h2 {
	color: #89d4df;
	font-weight: normal;
	letter-spacing: .06em;
	font-size: 30px;
	margin-bottom: 17px;
}
#side_nav ul {
	list-style-type: none;
}

ul.projects li {
	padding-bottom: 13px;
}
ul.projects li a {
	padding: 3px;
	font-size: 18px;
	text-decoration: none;
	color: #d6d6d6;
}
ul.projects li a:hover {background: #9d4729;}
#content {
	float: left;
	width: 800px;
	margin-top: -60px;
}
.description {
	width: 300px;
	padding-top: 10px;
	margin-left: 64px;
	line-height: 1.4em;
	float: left;
}
.description h4 {
	font-size: 16px;
	color: #bd6141;
	font-weight: normal;
	padding-bottom: 5px;
}
.description p {
	font-size: 14px;
	color: #d6d6d6;
	font-family: 'Helvetica Neue Roman';
}
.decription ul {
	list-style: none;
	width: 300px;
}
.description ul li {
	color: #d6d6d6;
	font-size: 14px;
	padding-right:45px ;
	float: left;
}

/*------------------FOOTER------------------*/
#footer {
	clear: both;
	padding-top: 10px;
	width: 1040px;
}
.foot_block {
	margin-top: 50px;
	width: 220px;
	float: left;
	padding-right: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.foot_block h3 {
	font-family: 'Helvetica Neue Medium';
	font-size: 16px;
	padding-bottom: 10px;
	color: #89d4df;
}
.foot_block p, .foot_block ul li, #find_me ul li a {
	color: #d6d6d6;
	font-weight: lighter;
	line-height: 1.4em;
	font-size: 14px;
	text-decoration: none;
}
#find_me {
	padding-right:0;
	padding-left: 20px;
}
#contact {
	width: 300px;
}
.foot_block label {
	color: #d6d6d6;
	font-family: Helvetica;
	font-size: 13px;
}
#footer input {
	width: 295px;
	margin-top: 3px;
	margin-bottom: 10px;
	color: #d6d6d6;
	background: none;
	padding: 3px;
	border: 2px solid #919191;
}
input#message {
	height: 70px;
}
input#submit {
	width: 65px;
	float: right;
}
label sup {
	color: #fe5d24;
	margin-left: -9px;
}
p.bottom {
	clear: both;
	color: #d6d6d6;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: lighter;
}