@import url('reset.css');

@font-face { font-family: "Helvetica Neue Roman"; src: url('../fonts/HelveticaNeueLTStd-Roman.otf') format("opentype"); }
@font-face { font-family: "Helvetica Neue Medium"; src: url('../fonts/HelveticaNeueLTStd-Md.otf') format("opentype"); }

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-image: url(../images/bg.jpg);
}
#wrapper {
	width: 1040px;
	margin: 70px 40px;
}
/*------------------HEADER------------------*/
#header {
	width: 100%;
	margin-bottom: 110px;
}
#header h1 a{
	background: url(../images/logo.png) top left no-repeat;
	text-indent: -9999px;
	display: block;
	width: 98px;
	height: 95px;
}
/*------------------SIDE NAV------------------*/
#main_content {
	width: 1020px;
}
#side_nav {
	width: 175px;
	float: left;
}
#side_nav h2 {
	color: #89d4df;
	font-weight: normal;
	letter-spacing: .06em;
	font-size: 30px;
	margin-bottom: 17px;
}

#side_nav ul {
	list-style-type: none;
}

ul.projects li {
	padding-bottom: 13px;
}
ul.projects li a {
	padding: 3px;
	font-size: 18px;
	text-decoration: none;
	color: #d6d6d6;
}
ul.projects li a:hover {background: #9d4729;}
#content {
	float: left;
	width: 800px;
	margin-top: -70px;
}
.description {
	width: 300px;
	padding-top: 10px;
	margin-left: 64px;
	line-height: 1.4em;
	float: left;
}
.description h4 {
	font-size: 16px;
	color: #bd6141;
	font-weight: normal;
	padding-bottom: 5px;
}
.description p {
	font-size: 14px;
	color: #d6d6d6;
	font-family: 'Helvetica Neue Roman';
}
span.launch a{
	text-decoration: none;
	color: #d6d6d6;
	font-size: 14px;
	padding: 3px;
	margin-left: -3px;
}
span.launch a:hover {
	background: #9d4729;
}
ul.tech_right {
	position: relative;
	right: 70px;
}
.description ul li {
	color: #d6d6d6;
	font-size: 14px;
}
div.description ul.tech_left {float: left;}
div.description ul.tech_right {
	float: right;
	position: relative;
	right: 100px;
}

/*------------------FOOTER------------------*/
#footer {
	clear: both;
	position: relative;
	top: 50px;
	width: 1040px;
}
.foot_block {
	margin-top: 50px;
	width: 220px;
	float: left;
	padding-right: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.foot_block h3 {
	font-family: 'Helvetica Neue Medium';
	font-size: 16px;
	padding-bottom: 10px;
	color: #89d4df;
}
.foot_block p, .foot_block ul li, #find_me ul li a {
	color: #d6d6d6;
	font-weight: lighter;
	font-family: 'Helvetica Neue Roman';
	line-height: 1.4em;
	font-size: 14px;
	text-decoration: none;
}
.foot_block ul.know_left {float: left;}
.foot_block ul.know_right {
	float: right;
	position: relative;
	right: 50px;
}
ul.info_left {float: left;}
ul.info_right {
	float: right;
	position: relative;
	right: 70px;
}
#find_me {
	padding-right:0;
	padding-left: 20px;
}
#find_me ul li {
	height: 20px;
}
#find_me ul li a {
	padding: 3px;
	margin-left: -3px;
}
#find_me ul li a:hover {
	background: #9d4729;
}
#contact {
	width: 300px;
}
.foot_block label {
	color: #d6d6d6;
	font-family: Helvetica;
	font-size: 13px;
}
#footer input, textarea {
	width: 295px;
	color: #d6d6d6;
	background: none;
	padding: 3px;
	border: 2px solid #919191;
	margin-top: 3px;
	margin-bottom: 10px;
}
textarea {
	width: 295px;
	height: 70px;
}
input#submit {
	width: 65px;
	float: right;
}
sup {
	color: #fe5d24;
	margin-left: -9px;
	font-size: 13px;
}
span.notation {
	position: relative;
	top: 5px;
	left: 10px;
	color: #d6d6d6;
	font-size: 11px;
	letter-spacing: 1px;
}
h3.contact_heading {
	width: 65px;
	margin-right: 20px;
}
/* return */
p.return_pass {
	float: right;
	width: 220px;
	font-size: 11px;
	color: #00f800;
	position: relative;
	bottom: 27px;
}
p.return_fail {
	float: right;
	width: 220px;
	font-size: 11px;
	color: #ff2622;
	position: relative;
	bottom: 27px;
}
/*---*/
p.bottom {
	clear: both;
	color: #d6d6d6;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: lighter;
}

#content .prev_next {
  margin: 270px 5px 0 5px;
  float: left;
}

/* scrollable */
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 640px;
	height: 480px;
	float: left;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width: 20000em;
	position: absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
	width: 660px;
}
/* -- */

/* image indication styling */
.items div {
  margin-top: 30px;
}

#curr_img {
  width: 105px;
  height: 25px;
  position: absolute;
  margin-top: 10px;
  margin-left: 685px;
}

#curr_img ul li, #curr_img p {
  float: left;
  color: #D6D6D6;
  font-size: 12px;
  display: none;
}

#curr_img ul li.current, #curr_img p {
  display: block;
  font-weight: bold;
}
/* -- */
